*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image: url(./Img/BG.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav .nav-title p{
    color: orange;
    font-size: 43px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 60px;
}
nav .nav-lines ul li{
    list-style: none;
}
.nav-lines a{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 600;
    font-size: 1rem;
}
.nav-lines a:hover{
    text-decoration: none;
    color:orange;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-lines ul{
    display: flex;
    gap: 70px;
    margin-top: 20px;
}
.search input{
    height: 35px;
    width: 190px;
    border:1px solid orange;
    background: transparent;
    border-color: orange;
}
.search button{
    border-radius: 0px 8px 8px 0px;
    height: 37.5px;
    width: 100px;
    margin-left: -5px;
    background-color: orange;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    border: none;
}
.search button:hover{
    border-radius: 0px 8px 8px 0px;
    height: 40px;
    width: 100px;
    background-color:#fa0101;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    border: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.search{
    margin-top: 15px;
    margin-right: 70px;
}
.search form input ::placeholder{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.design{
    margin-left: 60px;
}
.design h2{
    color: white;
    font-size: 2.1rem;
    margin-top: 85px;
}
.design h1{
    color: orange;
    font-size: 2.7rem;
    margin-top: 15px;
}
.design h3{
    color: white;
    font-size: 2.1rem;
    margin-top: 15px;
}
.design p{
    color: white;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 17px;
    
}
.design button{
    background-color: orange;
    color: black;
    border-radius: 12px;
    height: 40px;
    width: 150px;
    border: none;
    font-size: 1rem;
}
.design button:hover{
    background-color:rgb(105, 14, 14);
    color:white;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 12px;
    height: 40px;
    width: 150px;
    border: none;
    font-size: 1rem;
}
.login-box{
    width:230px;
    height: 365px;
    padding:30px;
    background:rgba(0, 0, 0, 0.904);
    border-radius:10px;
    text-align:center;
}

.login-box h2{
    background:#eee;
    color:#ff7200;
    padding:8px;
    border-radius:8px;
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    margin:15px 0;
    padding:10px;
    background:transparent;
    border:none;
    border-bottom:2px solid #ff7200;
    outline:none;
    color:white;
    font-size:14px;
}

.login-box input::placeholder{
    color:white;
    font-weight: 600;
}

.login-box button{
    width:100%;
    padding:10px;
    background:orange;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    margin-top: 25px;
}

.login-box button:hover{
    background:#ff8c2a;
}
.login-box a{
    text-decoration: none;
    color: orange;
}
.login-box p{
    color:white;
    font-size:1rem;
    margin-top:17px;
    font-weight: 700;

}
.login-box h3{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    font-weight: 700;

}
.icons i{
    color: white;
    margin: 5px;
    font-size: 22px;
    margin-top: 18px;
}
.login-box{
    position: relative;
    left: 980px;
    top: -390px;
}
@media (min-width:360px) and (max-width:767.98px){

    nav{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    body{
        background-image: url(./Img/BG.jpeg);
        background-attachment:local;
        background-position:top;
    }
    nav .nav-title p{
        color:orange;
        font-size: 1.8rem;
        margin-left:-15px;
    }
    .nav-lines ul li a{
        font-size: 1.2rem;
        align-items: center;
    }
    .nav-lines ul{
    display: block;
    gap: 70px;
    margin-top: 20px;
}

.nav-lines a{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 600;
    font-size: 1rem;
}
.nav-lines a:hover{
    text-decoration: none;
    color:orange;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search input{
    height: 30px;
    width: 150px;
    border:1px solid orange;
    background: transparent;
    border-color: orange;
}
.search button{
    border-radius: 0px 8px 8px 0px;
    height: 33px;
    width: 100px;
    margin-left: -5px;
    background-color: orange;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    border: none;
}
form{display: flex;}
.search button:hover{
    border-radius: 0px 8px 8px 0px;
    height: 40px;
    width: 100px;
    background-color:#fa0101;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    border: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.search{
    margin-left: 60px;
}
.search form input ::placeholder{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.design{
    margin-left: 20px;
}
.design h2{
    color: white;
    font-size: 2.01rem;
    margin-top: 45px;
}
.design h1{
    color: orange;
    font-size: 2.3rem;
    margin-top: 5px;
}
.design h3{
    color: white;
    font-size: 2.01rem;
    margin-top: 5px;
}
.design p{
    color: white;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 11.2px;
    
}
.design button{
    background-color: orange;
    color: black;
    border-radius: 12px;
    height: 30px;
    width: 120px;
    border: none;
    font-size: 0.7rem;
}
.design button:hover{
    background-color:rgb(105, 14, 14);
    color:white;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 12px;
    height: 30px;
    width: 120px;
    border: none;
    font-size: 0.7rem;
}
.login-box{
    width:230px;
    height: 350px;
    padding:30px;
    background:rgba(0, 0, 0, 0.904);
    border-radius:10px;
    text-align:center;
}

.login-box h2{
    background:#eee;
    color:#ff7200;
    padding:5px;
    border-radius:8px;
    margin-bottom:10px;
}

.login-box input{
    width:100;
    margin:15px 0;
    padding:10px;
    background:transparent;
    border:none;
    border-bottom:2px solid #ff7200;
    outline:none;
    color:white;
    font-size:14px;
}

.login-box input::placeholder{
    color:white;
    font-weight: 600;
}

.login-box button{
    width:100%;
    padding:10px;
    background:orange;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    margin-top: 25px;
}

.login-box button:hover{
    background:#ff8c2a;
}
.login-box a{
    text-decoration: none;
    color: orange;
}
.login-box p{
    color:white;
    font-size:1rem;
    margin-top:17px;
    font-weight: 700;

}
.login-box h3{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    font-weight: 700;

}
.icons i{
    color: white;
    margin: 5px;
    font-size: 20px;
    margin-top: 18px;
}
.login-box{
    position: relative;
    left: 35px;
    top: 30px;
}
}
